.green {
    cursor: pointer;
    color: #24FF00;
    width: 45%;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
  }
  
  .red {
    cursor: pointer;
    color: red;
    width: 45%;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
  }
  